.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem;
    background-color: #646ae18c;
    color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 210px;
    border-bottom-right-radius: 210px;
    -webkit-box-shadow: 0 0 20px #a90dfda5, inset 0px 0px 0.9em 10px #0d00ff4d,
        0px 0px 0.8em 20px #a90dfda5, inset 0 0 10px #0d6dfd33;
    -moz-box-shadow: 0 0 10px #a90dfda5, inset 0px 0px 0.7em 10px #0d00ff4d,
        0px 0px 0.9em 0px #a90dfda5, inset 0 0 10px #0d6dfd33;
    box-shadow: 0 0 10px #a90dfda5, inset 0px 0px 0.9em 0px #0d00ff4d,
        0px 0px 0.7em 0px #0d00ff4d, inset 0 0 10px #0d6dfd33;

}


.header a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.header a:hover {
    color: #ddd;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navigation li a:hover {
    color: #ddd;
}