.pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 16px 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 130px;
}

.pagination li {
    border: 1px solid #97999c;
    border-radius: 4px;
    cursor: pointer;
    min-width: 36px;
    height: 36px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #0d6efd;
    font-size: 14px;
}

.pagination li:hover {
    background-color: #e9ecef;
    box-shadow:
        0 0 10px rgba(13, 109, 253, 0.647),
        inset 0 0 10px rgba(13, 109, 253, 0.2),
        0 0 10px rgba(13, 0, 255, 0.3);
}

.pagination li.active:hover {
    background-color: #0d6efd;
}

.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.active a {
    color: #fff !important;
    font-weight: 500;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: inherit;
    box-shadow: none;
    opacity: 0.3;
}