:root {
    --text: #081b6a;
    --line: #6b27fe;
    --font-size: 16px;
    --duration: .44s;
    --duration-line: .84s;
}



.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;

    div {
        overflow: hidden;

        &:first-child {
            display: flex;
            overflow: hidden;
            text-shadow: 0 var(--font-size) 0 var(--text);
        }

        &:last-child {
            position: absolute;
            pointer-events: none;
            right: 0;
            left: 0;
            bottom: -3px;
            height: 5px;

        svg {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 300%;
                height: 5px;
                fill: none;
                stroke: var(--line);
                stroke-width: 1.5px;
                stroke-linecap: round;
                stroke-dasharray: 63.5px 128px;
                stroke-dashoffset: var(--line-offset, 190.25px);
                transform: translateX(var(--line-x)) translateZ(0);
                transition: transform var(--line-d, 0s), stroke-dashoffset var(--line-d, 0s);
            }
        }

        span {
            display: block;
            backface-visibility: hidden;
            font-style: normal;
            transition: transform var(--duration) ease;
            transform: translateY(var(--m, 0));
            $i: 1;

            @while $i < 12 {
                &:nth-child(#{$i}) {
                    transition-delay: $i / 20 + s;
                }

                $i: $i + 1;
            }
        }
    }

    &:hover {
        --m: calc(var(--font-size) * -1);
        --line-d: var(--duration-line);
        --line-x: 65.66%;
        --line-offset: 63.5px;
    }
}