* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --glow-gradient: linear-gradient(45deg, #ff0d00, #ff001e, #0022ff, #0011ff, #ff0000, #ff0048, #1900ff, #0800ff, #e100ff);
  --background-color: #f8f9fa;
  --border-bottom: 1px solid #dee2e6;
  --color: #212529;
  --input-background: #f1f3f5;
  --placeholder-color: rgba(170, 191, 202, 0.852);
  --box-shadow-item: 0 2px 4px rgba(0, 0, 0, 0.05);
  --box-shadow-item-hover: 0 4px 8px rgba(0, 0, 0, 0.222);
  --content-color: #495057;
  --item-border: 1px solid #dee2e6;
  --backdrop-background-color: rgba(33, 37, 41, 0.6);
}


@media (prefers-color-scheme: dark) {
  :root {
    --glow-gradient: linear-gradient(45deg, #0011ffb1, #ffe600f1, #0022ff, #0011ff, #0011ff, #ffdd00fc, #1900ff, #0800ff7c, #ffe600ea);
    --background-color: #1e1e1e;
    --border-bottom: 1px solid #dee2e63e;
    --color: #f1f1f1;
    --input-background: #2c2f33;
    --placeholder-color: rgba(170, 191, 202, 0.507);
    --item-border: 1px solid #333;
    --box-shadow-item: 0 2px 4px rgba(249, 248, 248, 0.216);
    --box-shadow-item-hover: 0 4px 8px rgba(244, 242, 242, 0.479);
    --content-color: #afbecd;
    --backdrop-background-color: rgba(144, 146, 148, 0.6);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-roboto),
    sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
}



main {
  flex: 0;
  /* margin: 0 auto; */
  height: 100vh;
}