.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 1180px;
}

.listItem {
    background-color: var(--background-color);
    border: var(--item-border);
    border-radius: 8px;
    padding: 16px;
    box-shadow: var(--box-shadow-item);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
}

.listItem:hover {
    box-shadow: var(--box-shadow-item-hover);
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: var(--color);
}

.content {
    margin: 0;
    flex-grow: 1;
    font-size: 14px;
    color: var(--content-color);
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 
.button {
    align-self: flex-end;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #bb2d3b;
} */

.glowButton {
    align-self: flex-end;
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: #dc3545;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

.labelBackground {
    position: absolute;
    inset: -100px;
    background: #dc3545 url("https://assets.codepen.io/5817405/noise_2.png");
    background-blend-mode: overlay;
    animation: noise-background 0.5s steps(1) infinite;
}

.glowButton:hover .labelBackground {
    background: #bb2d3b url("https://assets.codepen.io/5817405/noise_2.png");
}

.inner {
    padding: 1px;
    position: relative;
    z-index: 2;
    display: block;
    border-radius: inherit;
}

.inner::before {
    content: "";
    position: absolute;
    inset: 4px;
    z-index: 1;
    animation: btn-glow 5s infinite linear;
    background-size: 100% 200%;
    border-radius: inherit;
    filter: blur(5px);
    mix-blend-mode: overlay;
    opacity: 0;
    transition: opacity 0.2s linear 0.1s;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.6em 1.5em;
    color: transparent;
    white-space: nowrap;
    text-align: center;
}

.label::before,
.label::after {
    content: attr(data-label);
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    z-index: 2;
    padding: inherit;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.label::after {
    content: attr(data-hover);
    transform: translateY(-100%);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.background::before {
    content: "";
    position: absolute;
    inset: 0;
    border-color: #bb2d3b;
    transition: background 0.3s linear;
    border-radius: inherit;
}

.background::after {
    content: "";
    position: absolute;
    inset: 0;
    border-color: #bb2d3b;
    animation: btn-glow 5s infinite linear;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0s linear;
    border-radius: inherit;
}


.glowButton:hover .background::after {
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.glowButton:hover .inner::before {
    opacity: 0.5;
}

.glowButton:hover .label::before {
    transform: translateY(100%);
}

.glowButton:hover .label::after {
    transform: translateY(0);
}

@keyframes btn-glow {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 300%;
    }
}

@keyframes noise-background {
    0% {
        transform: translate3d(0, 0, 0);
    }

    20% {
        transform: translate3d(50px, 30px, 0);
    }

    40% {
        transform: translate3d(10px, 50px, 0);
    }

    60% {
        transform: translate3d(30px, 20px, 0);
    }

    80% {
        transform: translate3d(50px, 0, 0);
    }

    100% {
        transform: translate3d(100px, 0, 0);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #0d6efd;
    background-color: #e7f1ff;
    border: 1px solid #b6d4fe;
    border-radius: 12px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    display: inline-block;
    padding: 12px 18px;
    font-size: 12px;
    color: #0d6efd;
    background-color: #e7f1ff;
    border: 1px solid #b6d4fe;
    border-radius: 4px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link:hover {
    background-color: #99c4f3;
    border-color: #a1c8fe;
    text-decoration: none;
}

.listItem:hover .tag {
    animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
    0% {
        box-shadow: 0 0 0.2rem #fff,
            0 0 0.6rem #0d6efd,
            0 0 0.8rem #0d6efd,
            inset 0 0 0.1rem #0d6efd;
    }

    50% {
        box-shadow: none;
    }

    100% {
        box-shadow: 0 0 0.2rem #fff,
            0 0 0.6rem #0d6efd,
            0 0 0.8rem #0d6efd,
            inset 0 0 0.1rem #0d6efd;
    }
}